<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <meta charset="UTF-8">
    <title>index 메인페이지</title>
    
    <link href="/img/favicon.ico" rel="icon">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/lightbox/lightbox.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
</head>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
    
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <output class="spinner-border text-primary" style="width: 3rem; height: 3rem;">
            <span class="sr-only">Loading...</span>
        </output>
    </div>
    <nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top shadow py-lg-0 px-4 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between py-4 py-lg-0" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="#home" class="nav-item nav-link active">홈페이지</a>
                <a href="#about" class="nav-item nav-link">내 소개</a>
                <a href="#skill" class="nav-item nav-link">기술경험</a>
                <a href="#board" class="nav-item nav-link bg-secondary">게시판</a>
                <a href="#project" class="nav-item nav-link">프로젝트</a>
                <a href="#team" class="nav-item nav-link">팀원</a>
                <a href="#contact" class="nav-item nav-link">연락하기</a>
            </div>  
            </a>
        </div>
    </nav>
    <div class="container-fluid bg-light my-6 mt-0" id="home">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 py-6 pb-0 pt-lg-0">
                    <h3 class="text-primary mb-3">I'm</h3> 
                    <h1 class="display-3 mb-3">최인영</h1>
                    <h2 class="typed-text-output d-inline"></h2>
                    <div class="typed-text d-none">Graphic Designer</div>
                    <div class="d-flex align-items-center center pt-5">
                        <a href="" class="btn btn-primary py-3 px-4 me-5">Download CV</a> 
                        <button type="button" class="btn-play" data-bs-toggle="modal"
                            data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                            <span class="span"></span>
                        </button>
                        <h5 class="ms-4 mb-0 d-none d-sm-block">Play Video</h5>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    </div>
            </div>
        </div>
    </div>
    <div class="container-xxl py-6" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100 py-5 px-3">
                        <div class="text-center bg-white shadow pt-5 px-3">
                            <div class="d-flex flex-column align-items-center text-center me-4">
                                <div class="years flex-shrink-0 text-center me-4">
                                    <h1 class="display-1 mb-0">4</h1>
                                    <h5 class="mb-0">Years</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <h3 class="lh-base mb-0">"3D 모델링, 영상처리. 대학교 졸업까지 어엿한 이공계인을 목표로 열심히 달려왔습니다."</h3>
                    <p class="mb-4">저는 변두리 코드도 즐겨 쓰는 개발자입니다. 끊임없이 새로운 것을 배우고 도전하는 것이 저의 즐거움입니다. 수 년 동안 쌓고 닦은 저의 대표적인 장점은 다음과 같습니다.</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>학습 능력 : 새로운 기술 적용에 대한 총괄적 지식</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>분석 능력 : IT 트렌드 기술 방향성 분석</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>개발 능력 : AI 엔진/백엔드/서버 프로그래밍/깃허브</p>
                    <a class="btn btn-primary py-3 px-5 mt-3" th:href="@{/about_detailed}">상세 소개</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/lightbox/lightbox.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script> 
    <script src="js/main.js"></script>
    
</body>
</html>