<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <meta charset="UTF-8">
    <title>index 메인페이지</title>
    
    <link href="/img/favicon.ico" rel="icon">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/lightbox/lightbox.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
</head>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
    
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <output class="spinner-border text-primary" style="width: 3rem; height: 3rem;">
            <span class="sr-only">Loading...</span>
        </output>
    </div>
    <nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top shadow py-lg-0 px-4 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a th:href="@{/}" class="navbar-brand d-block d-lg-none"> 
            <h1 class="text-primary fw-bold m-0">ProMan</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between py-4 py-lg-0" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a th:href="@{'/' + '#home'}" class="nav-item nav-link active">홈페이지</a>
                <a th:href="@{'/' + '#about'}" class="nav-item nav-link">내 소개</a>
                <a th:href="@{'/' + '#skill'}" class="nav-item nav-link">기술경험</a>
                <a th:href="@{/article_list}" class="nav-item nav-link bg-secondary">게시판</a> 
                <a th:href="@{'/' + '#project'}" class="nav-item nav-link">프로젝트</a>
                <a th:href="@{'/' + '#team'}" class="nav-item nav-link">팀원</a>
                <a th:href="@{'/' + '#contact'}" class="nav-item nav-link">연락하기</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid bg-light my-6 mt-0" id="home">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 py-6 pb-0 pt-lg-0">
                    <h3 class="text-primary mb-3">I'm</h3> 
                    <h1 class="display-3 mb-3">최인영</h1>
                    <h2 class="typed-text-output d-inline"></h2>
                    <div class="typed-text d-none">Graphic Designer</div>
                    <div class="d-flex align-items-center center pt-5">
                        <a href="" class="btn btn-primary py-3 px-4 me-5">Download CV</a> 
                        <button type="button" class="btn-play" data-bs-toggle="modal"
                            data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                            <span class="span"></span>
                        </button>
                        <h5 class="ms-4 mb-0 d-none d-sm-block">Play Video</h5>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <img class="img-fluid" th:src="@{/img/profile2.png}" alt="프로필 이미지">
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl py-6" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s"> 
                    <h3 class="lh-base mb-0">"3D 모델링, 영상처리. 대학교 졸업까지 어엿한 이공계인을 목표로 열심히 달려왔습니다."</h3>
                    <p class="mb-4">저는 변두리 코드도 즐겨 쓰는 개발자입니다. 끊임없이 새로운 것을 배우고 도전하는 것이 저의 즐거움입니다. 수 년 동안 쌓고 닦은 저의 대표적인 장점은 다음과 같습니다.</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>학습 능력 : 새로운 기술 적용에 대한 총괄적 지식</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>분석 능력 : IT 트렌드 기술 방향성 분석</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>개발 능력 : AI 엔진/백엔드/서버 프로그래밍/깃허브</p>
                    <a class="btn btn-primary py-3 px-5 mt-3" th:href="@{/about_detailed}">상세 소개</a>
                </div>
                
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s"> 
                    <div class="row g-3 mb-4">
                        <div class="col-sm-6">
                            <img class="img-fluid rounded" th:src="@{/img/profile1.png}" alt="소개 이미지 1">
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid rounded" th:src="@{/img/profile2.png}" alt="소개 이미지 2">
                        </div>
                    </div>
                    
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="border-end pe-3 me-3 mb-0">개인슬로건</h5>
                    </div>
                    <p class="mb-4">'작은코드, 큰변화'</p>
                    
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="border-end pe-3 me-3 mb-0">개인개발/학습프로젝트(깃허브)</h5>
                        <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">5</h2>
                    </div>
                    <p class="mb-0">SPRING_BOOT/C#/유니티/코딩테스트/리눅스서버</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl py-6" id="skill">
        <div class="container">
            <h1 class="display-5 text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">기술 & 경험</h1>

            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h3 class="display-5 mb-5 mt-5">나의 기술들</h3>
                    <p class="mb-5">
                        주요 웹 사이트 개발, 리눅스 웹 서버 구축/운영을 통해 팀미팅을 통한 운영체제 서버 관리 외 다양한 프로그래밍 언어 학습, 최근에는 생성형 AI를 활용한
                        폴리디언 콘텐츠 개발에 관심을 가지고 있습니다.
                    </p>
                    
                    <div class="row g-5">
                        <div class="col-sm-6">
                            <div class="skill mb-4"> <div class="d-flex justify-content-between"> <h6 class="font-weight-bold">HTML/CSS</h6> <h6 class="font-weight-bold">95%</h6> </div> <div class="progress"> <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div> </div> </div>
                            <div class="skill mb-4"> <div class="d-flex justify-content-between"> <h6 class="font-weight-bold">파이썬</h6> <h6 class="font-weight-bold">95%</h6> </div> <div class="progress"> <div class="progress-bar bg-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div> </div> </div>
                            <div class="skill mb-4"> <div class="d-flex justify-content-between"> <h6 class="font-weight-bold">SPRING BOOT</h6> <h6 class="font-weight-bold">85%</h6> </div> <div class="progress"> <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div> </div> </div>
                            <div class="skill mb-4"> <div class="d-flex justify-content-between"> <h6 class="font-weight-bold">자바스크립트</h6> <h6 class="font-weight-bold">80%</h6> </div> <div class="progress"> <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div> </div> </div>
                            <div class="skill mb-4"> <div class="d-flex justify-content-between"> <h6 class="font-weight-bold">연구 논문 제출(국내/외)</h6> <h6 class="font-weight-bold">90%</h6> </div> <div class="progress"> <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div> </div> </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="skill mb-4"> <div class="d-flex justify-content-between"> <h6 class="font-weight-bold">JAVA</h6> <h6 class="font-weight-bold">95%</h6> </div> <div class="progress"> <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div> </div> </div>
                            <div class="skill mb-4"> <div class="d-flex justify-content-between"> <h6 class="font-weight-bold">Bootstrap</h6> <h6 class="font-weight-bold">70%</h6> </div> <div class="progress"> <div class="progress-bar bg-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div> </div> </div>
                            <div class="skill mb-4"> <div class="d-flex justify-content-between"> <h6 class="font-weight-bold">Wordpress</h6> <h6 class="font-weight-bold">75%</h6> </div> <div class="progress"> <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div> </div> </div>
                            <div class="skill mb-4"> <div class="d-flex justify-content-between"> <h6 class="font-weight-bold">리눅스 서버 구축/운영</h6> <h6 class="font-weight-bold">90%</h6> </div> <div class="progress"> <div class="progress-bar bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div> </div> </div>
                            <div class="skill mb-4"> <div class="d-flex justify-content-between"> <h6 class="font-weight-bold">보고서 작성/발표</h6> <h6 class="font-weight-bold">100%</h6> </div> <div class="progress"> <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div> </div> </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <ul class="nav nav-pills rounded border border-2 border-primary mb-5" id="pills-tab" role="tablist">
                        <li class="nav-item w-50" role="presentation">
                            <a class="nav-link w-100 py-3 fs-5 active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true" href="#tab-1">경험</a>
                        </li>
                        <li class="nav-item w-50" role="presentation">
                            <a class="nav-link w-100 py-3 fs-5" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false" href="#tab-2">교육</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="pills-tabContent">
                        <div id="tab-1" class="tab-pane fade show active p-0" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="row gy-5 gx-4">
                                <div class="col-sm-6">
                                    <h5 class="mb-1" style="word-break: break-word;">웹 프로그래밍 교육용 AI 챗봇 개발</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2000 - 2045</p>
                                    <p class="mb-0">Apex Software Inc</p>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="mb-1" style="word-break: break-word;">AI 기반 소스 코드 보안 분석 툴 개발</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2000 - 2045</p>
                                    <p class="mb-0">Apex Software Inc</p>
                                </div>
                            </div>
                        </div>

                        <div id="tab-2" class="tab-pane fade p-0" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="row gy-5 gx-4">
                                <div class="col-sm-6">
                                    <h5 class="mb-1" style="word-break: break-word;">XXX 대학교 코딩 테스트 특강 수료</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2000 - 2045</p>
                                    <p class="mb-0">XXX 대학교</p>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="mb-1" style="word-break: break-word;">기타 : 20XX 보안 프로젝트 개발 발표 우수논문 수상</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2000 - 2045</p>
                                    <p class="mb-0">Apex Software Inc</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div> 
                </div>
            </div>
        </div>

<div class="container-xxl py-6 pt-5" id="project">
    <div class="container">
        <div class="row g-5 mb-5 align-items-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">나의 프로젝트</h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <ul class="list-inline mx-n3 mb-0" id="portfolio-flters">
                    <li class="mx-3 active" data-filter="*">전체 프로젝트</li>
                    <li class="mx-3" data-filter=".first">졸업 작품</li>
                    <li class="mx-3" data-filter=".second">개인 개발</li>
                </ul>
            </div>
        </div>
        
        <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.1s">
            
            <div class="col-lg-4 col-md-6 portfolio-item first">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/bear.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/bear.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 portfolio-item second">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/project-2.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/project-2.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 portfolio-item first"> <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/project-3.jpg" alt=""> <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/project-3.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            
        </div> </div> </div> ```


        
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script> 
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/lightbox/lightbox.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>